.product-page {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "slider primary"
    "secondary secondary";
}

.slider {
  grid-area: slider;
}
.description-primary {
  grid-area: primary;

  padding: 0.5rem;
  line-height: 1.5;
}
.description-secondary {
  grid-area: secondary;

  padding: 0.5rem;
}

.slider img {
  width: 100%;
}

.description-primary .title {
  font: inherit;
  font-size: 2rem;
  font-weight: 700;
}

.description-primary .price {
  font: inherit;
  font-size: 1.5rem;
  font-weight: 900;
}

.description-primary .rating {
  font: inherit;
}

.description-primary .brand {
  font: inherit;
}

.description-primary .layoutText {
  font: inherit;
}

.description-secondary {
  padding: 1rem 10%;
  background-color: aliceblue;

  display: flex;
  flex-direction: column;
}

.description-secondary .primary-text {
  font: inherit;
  text-align: justify;
  padding: 1rem 0rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.primary-text .primary-text-heading {
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

.description-secondary .secondary-text {
  font: inherit;
  display: flex;
  flex-direction: column;
}

.secondary-text .secondary-item {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0rem;
}

.secondary-item .heading {
  font: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  width: 40%;
  padding: 0.5rem;
}

.secondary-item .details {
  font: inherit;
  width: 60%;
  padding: 0.5rem;
}
