.card-grid .card {
  font: inherit;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid #222;
  width: 30%;

  display: grid;
  grid-template-columns: auto 25px;
  grid-template-rows: 300px repeat(3, auto);
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "image image"
    "title wishlist-icon"
    "cost cost"
    "cart-button cart-button";
}

.card .image {
  grid-area: image;
}

.card .title {
  grid-area: title;

  font-size: 1.5rem;
  font-weight: 700;
}

.title .brand-layout {
  font-size: 0.9rem;
  font-weight: 100;
}

.card .wishlist-icon {
  grid-area: wishlist-icon;
  font-size: 1.75rem;
}

.card .cost-rating {
  grid-area: cost;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 500;
}

.card .cart-button {
  grid-area: cart-button;
}
