.header {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
}

.header-logo {
  cursor: pointer;
  transition: all 0.25s;
}

.header-logo:hover {
  color: rgb(255, 31, 31);
}

.header-menu {
  background-color: inherit;
}

.header-menu span {
  padding: 0.25rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.25s;
}

.header-menu span:hover {
  color: rgb(255, 31, 31);
}
