.App {
  text-align: inherit;
  /* display: flex;
  flex-direction: column; */

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  background-color: inherit;
}

.content {
  background-color: inherit;
}

.footer {
  background-color: inherit;
  margin-top: auto;
}
