.App {
  text-align: inherit;
  /* display: flex;
  flex-direction: column; */

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  background-color: inherit;
}

.content {
  background-color: inherit;
}

.footer {
  background-color: rgb(255, 232, 232);
  margin-top: auto;
}

/* SECTION */

.section {
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
}

.section.section-primary {
  background-color: rgb(255, 255, 255);
}

.section.section-secondary {
  background-color: rgb(245, 245, 245);
}

.section .title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0% 1%;
}

.section .title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

/* SLIDERS */

.hero-slider {
  /* height: 500px; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-slider .hero-slide {
  /* height: 500px; */
  /* width: 100%; */
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}

.slider {
  /* height: 500px; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider .slide {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}

/* CARDS */

.card-grid {
  font: inherit;
  padding: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-grid .card {
  font: inherit;
  margin: 0.25rem;
  padding: 0.25rem;
  border: 2px solid #222;
  width: 30%;

  display: grid;
  grid-template-columns: auto 25px;
  grid-template-rows: repeat(4, auto);
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "image image"
    "title wishlist-icon"
    "cost cost"
    "cart-button cart-button";
}

.card .image {
  grid-area: image;
}

.card .title {
  grid-area: title;

  font-size: 1.5rem;
  font-weight: 700;
}

.title .brand-layout {
  font-size: 0.9rem;
  font-weight: 100;
}

.card .card-title {
  color: rgb(70, 70, 70);
  cursor: pointer;
  transition: all 0.25s;
}

.card .card-title:hover {
  color: rgb(0, 0, 0);
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.25);
}

.card .wishlist-icon {
  grid-area: wishlist-icon;
  font-size: 1.75rem;
  cursor: pointer;
}

.card .cost-rating {
  grid-area: cost;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 500;
}

.card .cart-button {
  grid-area: cart-button;
  cursor: pointer;
}

/* VISIT HISTORY COMPONENT */
.visit-history {
  grid-area: history;
  padding: 0.75rem 0.5rem;
}

.visit-history-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.history-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 0.75rem 0rem;
}

.history-container .no-history-message {
  font-size: 2rem;
}

.history-container .history-card {
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 0.2rem;
  margin: 0rem 0.2rem;
  border: solid 1px #222;

  width: 19vw;

  transition: 0.25s all;
}

.history-container .history-card:hover {
  box-shadow: -1px 1px 12px 2px rgba(0, 0, 0, 0.39);
}

.history-card .image {
  height: auto;
  width: 100%;
}

.history-card .title {
  font-size: 1.1rem;
  font-weight: 700;
  flex-grow: 1;
  cursor: pointer;
}

.history-card .price {
  font-size: 1rem;
  font-weight: 500;
}

.history-card .view-button {
  font: inherit;
}

.view-button button {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
